/* Emoji Picker CSS */

.emoji-label {
    font-family: 'Noto Color Emoji', 'Apple Color Emoji', 'Segoe UI Emoji', 'EmojiOne Color', 'Twemoji Mozilla', sans-serif;
    /* font-size, min-width, min-height set in Rust */
}

.tab-emoji {
    /* font-size, min-width, min-height set in Rust */
}

.copied-emoji {
    background-color: #b9f6ca;
    transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 8px;
}
